:root {
  --color-primary: #3c5452;
  --color-background: #fbf9f6;
  --color-light-bg: #f2ede7;
  --color-text: #2f3b3a;
  --color-hero-bg: #e6e0d9;
}

body {
  font-family: 'Inter', sans-serif;
}
h1,h2,h3 {
  font-family: 'Playfair Display', serif;
}
